body {
    font-family: "Courier New", Courier;
    background-color: rgb(196,196,196);
}

button {
    font-family: "Courier New", Courier;
}

.hide {
    display: none;
}

td {
    border-top: 1px solid black;
    vertical-align: top;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.phraseRow {
    background-color: rgb(50,50,50);
    color: white
}


/* @media (any-pointer: coarse) { */
#pageButtons * button {
    font-weight:bold;
    padding:5px;
}
/* } */

#pageButtons {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: row wrap;

}

.• {
    padding-left: 7px;
}
